* {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

body {
    background-color: black;
}

h1 {
    margin: 0;
    padding: 0;
    
}

button {
    border: 0;
    
}

button:hover {
    background-color: #ddd;
    cursor: pointer;
}

#overlapping-div {
    background-color: black; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    opacity: 0; 
    pointer-events: none; 
    z-index: 10;
}

.gray-health {
    height: 5px; 
    background-color: #ccc; 
    margin-top: 10px;
}

#dialog-box {
    cursor: pointer; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 15px;
    display: none;
    background-color: white;
}

#attacks-box {
    flex: 2; 
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
}

#type-box {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-left: 2px solid black
}

#enemy-health {
    height: 5px; 
    background-color: green; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0;
}

#player-health {
    height: 5px; 
    background-color: green; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0;
}

.info-box {
    background-color: white; 
    width: 300px; 
    position: absolute; 
    bottom: 200px; 
    right: 50px; 
    border: 2px solid black; 
    padding: 15px;
}

.dialog-container {
    background-color: white;
    width: 100%; 
    height: 120px; 
    position: absolute; 
    bottom: 0; 
    right: 0; 
    left: 0; 
    border-top: 2px solid black; 
    display: flex;
}